body {
  padding-top: 15vh;
  font-family: "Walter Turncoat", cursive !important ;
}
h2 {
  font-weight: bolder !important;
}

#submit-modal h2 {
  color: aliceblue;
}
#mynav {
  padding: 1% 5%;
  font-size: 1.5em;
}
#mynav > a {
  font-size: 1.4em;
}
label {
  font-weight: 700;
  font-size: 1.2em;
  color: aliceblue;
}
th,
#btn-submit,
#btn-cancel,
#btn-update {
  font-size: 1.2em;
}

#add-btn {
  cursor: pointer;
  margin-right: 0 !important;
}

#add-btn {
  cursor: pointer;
  margin-right: 0 !important;
}

.ml-auto a:first-child {
  border: 3px solid rgba(255, 255, 255, 0.5);
  padding: 0 10px;
  border-radius: 7px;
  font-size: 1.2em !important;
}
.ml-auto a:first-child:hover {
  border: 3px solid rgba(255, 255, 255, 0.993);
}

.ml-auto a:last-child {
  font-size: 1.6em !important;
  display: none;
}

#edit-delete {
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}
td,
thead {
  text-align: center;
}
#td-task{
  text-align: left;
}
td:last-child i:first-child {
  color: rgb(255, 172, 19);
  margin-right: 5px;
}

td:last-child i:last-child {
  color: rgb(250, 50, 35);
}
tbody i:hover {
  cursor: pointer;
}

/* Modal for submit form*/
#submit-modal {
  width: 100%;
  background-color: #323330;
  position: fixed;
  top: 0;
  padding-top: 100px;
  padding-bottom: 10px;
  display: none;
}

/* Modal for delete task*/
#delete-modal {
  background-color: rgba(116, 116, 116, 0.671);
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: none;
}

#delete-box-modal {
  width: 40%;
  height: 140px;
  border: 2px solid rgb(54, 54, 54);;
  margin: 0 auto;
  border-radius: 10px;
  text-align: center;
  background-color: #fff;
  position: absolute;
  top: 70px;
  right: 31%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#delete-box-modal h5 {
  background-color: #343a40;
  border-radius: 5px 5px 0 0;
  padding: 9px 0;
  color: #fff;
}
#delete-box-modal div {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  padding-bottom: 10px;
}

/* Media */

@media only screen and (max-width: 600px) {
  .ml-auto a:first-child {
    display: none;
  }
  .ml-auto a:last-child {
    display: block;
  }
  #delete-box-modal {
    width: 60%;
    right: 20%;
  }

}

@media only screen and (max-width: 492px) {
  td:last-child i:first-child {
    margin-right: 0;
  }
  #delete-box-modal {
    width: 80%;
    right: 10%;
  }
}
